body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #d3fab6 ;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  background-color: #d0f4a3;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #02349e;
  color: #e8f4a6;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#detalhes-medio,
#detalhes-superior,
#detalhes-posgraduacao {
  margin-top: 20px;
}
form {
  background-color: #c3f8ab;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px; /* Define uma largura para o formulário */
  margin: 0 auto; /* Define as margens como automático para centralizá-lo */
}

